<robot name="onshape">
<link name="paddle">
<visual>
<origin xyz="-9.93599e-18 0.006 0.04" rpy="1e-17 1e-17 1.5708" /> 
<geometry>
<mesh filename="package:///paddle.stl" scale="10.0 10.0 10.0" />
</geometry>
<material name="paddle_material">
<color rgba="0.5 0.5 0.5 1.0"/>
</material>
</visual>
<collision>
<origin xyz="-9.93599e-18 0.006 0.04" rpy="1e-17 1e-17 1.5708" />
<geometry>
<mesh filename="package:///paddle.stl" scale="10.0 10.0 10.0" />
</geometry>
<material name="paddle_material">
<color rgba="0.5 0.5 0.5 1.0"/>
</material>
</collision>
<inertial>
<origin xyz="-1.56404e-17 0.0736503 0.04" rpy="0 0 0"/>
<mass value="0.701928" />
<inertia ixx="0.00167359" ixy="1.02507e-19"  ixz="1.2116e-20" iyy="0.000550853" iyz="-5.1231e-36" izz="0.00147572" />
</inertial>
</link>


</robot>
